In [ ]:
spam_amount = 0
print(spam_amount)

spam_amount = spam_amount + 4

if spam_amount > 0:
    print("But I don't want ANY spam!")

viking_song = "Spam " * spam_amount
print(viking_song)

type(spam_amount)

0
But I don't want ANY spam!
Spam Spam Spam Spam

int

pada kodingan ini akan mendeklarasikan variabel spam_amount yang bernilai 0 dan akan melakukan perintah print dengan output 0.
lalu variabel spam_amount tadi di tambah dengan 4 dan tetap menggunakan nama variabel spam_amount.
pada baris kode berikutnya terdapat kode jika variabel spam_amount tadi lebih besar dari 0 maka akan mengeluarkan output "But I don't want ANY spam!".
stelah itu terdapat variabel baru yang bernama viking_song pada variabel tersebut terdapat kata "spam" dan kata itu akan keluar sebanyak nilai spam_amount ketika dpanggil.untuk melihat outputnya bisa menggunakan print.selanjutnya kode type untuk melihat tipe data.

In [ ]:
a = 10
b = 2
print(a + b	)
print(a - b)
print(a * b	)
print(a / b	)
print(a // b)
print(a % b)
print(a ** b)
print(-a)
print(min(1, 2, 3))
print(max(1, 2, 3))
print(abs(32))
print(abs(-32))
print(float(10))
print(int(3.33))

12
8
20
5.0
5
0
100
-10
1
3
32
32
10.0
3

terdapat tanda pada operasi perhitungan untuk python seprti tanda "+" untuk menambahkan antar variabel,tanda"-" untuk melakukan pengurangan antar  variabel atau untuk membuat variabel menjadi negatif, tanda"/" untuk membagi antar variabel dalam format flout, tanda "//" untuk melakukan pembagian , tanda "%" untuk mencar modulus antar variabel, tanda "*" untuk mengkalikan antar variabel, tanda "**" untuk  menghitung pangkat suatu variabel,selain operasi itu kita juga bisa mengubah variabel yang awalnya bernilai integer menjadi flout dengan menggunakan "flout(10)" ataupun sebaliknya,lalu juga terdapat kode "max" untuk mencari nilai maximum dari array"min" untuk mencari nilai minimum dari array dan "abs" untuk membuat nilai dari operasi atau variabel apapun menjadi positif.

In [ ]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

kode "help" digunakan untuk menampilkan dokumentasi atau informasi bantuan tentang objek, fungsi, modul, atau kelas tertentu.

In [ ]:
def mult_by_five(x):
    return 5 * x
def call(fn, arg):
    """Call fn on arg"""
    return fn(arg)
def squared_call(fn, arg):
    """Call fn on the result of calling fn on arg"""
    return fn(fn(arg))
print(
    call(mult_by_five, 1),
    squared_call(mult_by_five, 1),
    sep='\n',)

5
25

def digunakan untuk mendefinisikan fungsi dalam Python.pada Fungsi pertama menerima satu parameter x dan mengembalikan hasil perkalian x dengan 5.Fungsi kedua menerima dua parameter "fn" sebuah fungsi yang akan dipanggil.
"arg" nilai yang akan diberikan sebagai argumen untuk fungsi fn.Kemudian, fn(arg) akan dijalankan dan hasilnya dikembalikan.lalu fungsi ketiga ini juga menerima dua parameter.Berbeda dengan call(), fungsi ini akan memanggil fn dua kali secara bertingkat.pada bagian print akan memanggil fungsi call(mult_by_five, 1) hanya memanggil mult_by_five(1), hasilnya 5 dan squared_call(mult_by_five, 1) memanggil mult_by_five dua kali sehingga hasilnya 25.

In [ ]:
a = 2
b = 3
print (a == b)
print (a != b)
print (a < b	)
print (a > b	)
print (a <= b	)
print (a >= b)
print(bool(-1))
print(bool(0))

c = 0
if c == 0:
    print(0)
elif "spam":
    print("spam")

False
True
True
False
True
False
True
False
0

tanda "==" digunakan untuk mengecek apakah variabel itu nilainya Sama atau tidak , tanda "<" ">" digunakan untuk mengecek apakah satu variabel besar atau kecil dari variabel lainnya, tanda ">=""<=" digunakan untuk mengecek apakah satu variabel besar,kecil atau sama dengan variabel lainnya.Lalu juga ada fungsi bool() yang digunakan untuk mengonversi suatu nilai menjadi Boolean (True atau False) jika nilainya 0 akan menjadi false dan nilai selain 0 akan menjadi true.selan itu juga ada tanda "if""elif""else".
"if" Digunakan untuk memeriksa suatu kondisi. Jika kondisi tersebut benar (True), "elif" Digunakan untuk memeriksa kondisi tambahan jika kondisi sebelumnya (if) tidak terpenuhi dan "else" Digunakan untuk menangani semua kondisi yang tidak terpenuhi oleh if atau elif.

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print(planets[1])
print(planets[0:3])
print(planets[:3])
print(planets[3:])
print(planets[1:-1])
planets[3] = 'Malacandra'
print(planets)
print(len(planets))
print(sorted(planets))
primes = [2, 3, 5, 7]
print(sum(primes))
print(max(primes))
planets.append('Pluto')
print(planets)
planets.pop()
print(planets)

Venus
['Mercury', 'Venus', 'Earth']
['Mercury', 'Venus', 'Earth']
['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']
['Mercury', 'Venus', 'Earth', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
8
['Earth', 'Jupiter', 'Malacandra', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']
17
7
['Mercury', 'Venus', 'Earth', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']
['Mercury', 'Venus', 'Earth', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

Pada python untuk membuat list menggunakan"list = []" melihat index dari list dapat mengunakan "list[index]" lalu untuk melihat beberapa index tertentu dapat menggunakan "list =[index awal : index akhir]" untuk melihat index dari index awal yaang dipilih hingga index akhir yang dipilih selain itu kita dapat menentukan sampai mana index akan dilihat dengan menggunakan "list =[: index batas]" lalu juga bisa melihat index awal yang ditentukan hingga index terakhir dengan "list =[index mulai:]"
index negatif pada list merujuk kepada elemen akhir list. seperti Indeks -1 merujuk pada elemen terakhir.lalu jika ingin mengganti index tertentu di dalam list dapat menggunakan "list[index] = 'elment yang akan ditambahkan'" jika menambhakan element kedalam list index terakhir menggunakan "list.append('element yang akan ditambahkan')" dan untuk menghapus element terakhir pada list menggunakan "list.pop()".selanjutnya jika ingin mengetahui panjang dari list menggunakan "len(list)" untuk mengurutukan isi list menggunakan "sorted(list)" untuk menjumlahkan isi di dalam list jika isi di dalamnya bertipe integer menggunakan "sum(list)" mencari nilai maximal menggunakan "max(list)".

In [ ]:
"Calbefraques" in planets

False

In [ ]:

"Earth" in planets

True

In [ ]:
planets.index('Earth')

2

In [ ]:
t = 1, 2, 3
t

In [ ]:
a = 1
b = 0
a, b = b, a
print(a, b)

0 1

untuk mengecek suatu element di dalam list dapat menggunakan ""element" in list" jika ada maka hasilnya true jika tidak ada false,jika ingin ngecek element di index dalam list dapat menggunakan "list.index('element')" dan untuk menukar nilai dua variabel dapat menggunakan "variabel1,variabel2 = variabel2,variabel1". selain list juga terdapat tuppel yang mirip dengan list tetapi tidak dapat di ubah element di dalamnya.

In [27]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
    print(planet, end=' ')

multiplicands = (2, 2, 2, 3, 3, 5)
product = 1
for mult in multiplicands:
    product = product * mult
product

for i in range(5):
    print("Doing important work. i =", i)

i = 0
while i < 10:
    print(i, end=' ')
    i += 1

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune Doing important work. i = 0
Doing important work. i = 1
Doing important work. i = 2
Doing important work. i = 3
Doing important work. i = 4
0 1 2 3 4 5 6 7 8 9

Jika ingin mencetak setiap elemen dalam list juga dapat menggunakan perulangan seperti ini
"for n in nama list:
  print(n, end=' ')"
Jika  ingin menambahkan seluruh list dengan menggunakan perulangan seperti ini "
multiplicands = (2, 2, 2, 3, 3, 5)
product = 1
for mult in multiplicands:
    produt = product * mult
product"

terkadang dalam  loop juga menggunakan "range()" digunakan dalam for loop untuk mengontrol jumlah iterasi dan menghasilkan nilai yang digunakan dalam setiap iterasi.

selain loop dengan menggunakan "for" juga ada loop dengan menggunakan "while" yang akan berhenti ketika suatu kondisi terpenuhi

In [29]:
hello = "hello\nworld"
print(hello)
triplequoted_hello = """hello
world"""
print(triplequoted_hello)
print("hello", end='')
print("pluto", end='')
planet = 'Pluto'
planet[0]
planet[-3:]
claim = "Pluto is a planet!"
claim.upper()
claim.lower()
claim.index('plan')
words = claim.split()
words
datestr = '1956-01-31'
year, month, day = datestr.split('-')
'/'.join([month, day, year])

hello
world
hello
world
hellopluto

'01/31/1956'

tanda "\n" digunakan untuk karakter baris baru selain itu (""" """) juga bisa membuat string multi-baris tanpa perlu "\n" lalu juga ada "end=''" menghilangkan baris baru otomatis.Jika ingin mengambil satu huruf dari variabel dapat menggunakan "list[index]" jika ingin mengubah satu variabel string menjadi seluruh huruf besar dapat menggunakan "upper()", mengubahnya menjadi huruf kecil menjadi "lower()", memisahkan string berdasarkan menggunakan "split()" bisa memisahkannya berdasarkan simbol tertentu seperti "-".selain itu juga ada "join()"  Menggabungkan string.

In [9]:
import math as mt
mt.pi

3.141592653589793

In [10]:
math.log(32, 2)

5.0

In [30]:
from math import log, pi
import numpy
from numpy import asarray

rolls = numpy.random.randint(low=1, high=6, size=10)
rolls

array([2, 3, 5, 1, 3, 5, 3, 4, 3, 5])

In [31]:
rolls.mean()

3.4

In [32]:
rolls.tolist()

[2, 3, 5, 1, 3, 5, 3, 4, 3, 5]

In [33]:
rolls + 10

array([12, 13, 15, 11, 13, 15, 13, 14, 13, 15])

Dalam python terdapat banyak libery yang dapat mempermudah dalam membuat program seperti numpy dan lainnya.Di dalam numpy terdapat "random" untuk angka acak ,"mean" untuk menghitung rata rata ,"tolist" untuk mengubah array menjadi list dan kode kode lainnya.